.header-container 
{
    background-image: linear-gradient(to right, #8100fc,#a500fc,#b206fc, #ca01fc,#dc01fc );
    overflow: hidden;
    padding: 20px 10px;
    height: 38px;
} 

.header-title{
    margin: 0;
    color: white;
}
