
<mat-toolbar class="border_top app_toolbar">
  <mat-toolbar-row>
      <img src="../../assets/IntignoLogo.png" class="logo"/>
    </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <mat-card style="margin-top: 15%;">
      <mat-card-title *ngIf="isRegisterClicked===false" class="page_font">Login</mat-card-title>
      <mat-card-title *ngIf="isRegisterClicked===true" class="page_font">Register</mat-card-title>
  <mat-card-content>
  <form [formGroup]="loginForm" (ngSubmit)="submit()" *ngIf="isRegisterClicked===false">
    <p >
      <mat-form-field>
        <input type="text" matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password" required>
      </mat-form-field>
    </p>


    <!-- <p *ngIf="error" class="error">
      {{ error }}
    </p> -->
  

    <div class="button" >
      <button mat-button (click)="btnLogin()" class="page_button page_font">Login</button>
    </div>

    <div class="button" >
      <button mat-button (click)="registerUser()" class="page_button page_font">Register</button>
    </div>

  </form>
  <form [formGroup]="registerForm" (ngSubmit)="submit()" *ngIf="isRegisterClicked===true">
    <p >
      <mat-form-field>
        <input type="text" matInput placeholder="First Name" formControlName="fName" required>
      </mat-form-field>
    </p>
    <p >
      <mat-form-field>
        <input type="text" matInput placeholder="Last Name" formControlName="lName" required>
      </mat-form-field>
    </p>
    <p >
      <mat-form-field>
        <input type="text" matInput placeholder="Email" formControlName="email" required>
      </mat-form-field>
      <span class="validation_error_msg">{{emailValidationError}}</span>
    </p>
    <p>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password" required>
      </mat-form-field>
      <span class="validation_error_msg">{{passwordValidationError}}</span>
    </p>
    

    <!-- <p *ngIf="error" class="error">
      {{ error }}
    </p> -->
  


    <div class="button" >
      <button mat-button (click)="btnCreateUser()" class="page_button page_font">Create User</button>
    </div>

    <div class="button" >
      <button mat-button (click)="btnCancelRegister()" class="page_button page_font">Cancel</button>
    </div>

  </form>
  </mat-card-content>
  </mat-card>
</div>