.dashboard-datepicker-form{
    padding: 10px;
}

table{
    width: 100%;
}

.mat-header-cell{
    flex: 15% !important;
}

.example-spacer{
    flex: 1 1 auto;
}

.user_profile{
    background-image: linear-gradient(to right, #8100fc,#a500fc,#b206fc, #ca01fc,#dc01fc );
}
